{% extends "base.html.twig" %}
{% block body %}
<h1 class="mt-5 ml-5">{{ program.title }} - saison {{ season.number }}</h1>
<h1 class="mt-2 ml-5">{{ episode.title }} - {{ episode.number }}</h1>
<p class="mt-5 ml-5">{{ episode.synopsis }}</p>
<div class="ml-5">
    <a href="{{ path('program_season_show', { program_slug: program.slug, season_id: season.id }) }}">Retour</a>
</div>
 {% for comment in episode.comments | reverse %}
<p class="mt-5 ml-5">Commentaire : {{ comment.comment }}</br>
Note : {{ comment.rate }}</br>
Ecris par : {{ comment.user.username }}</p>
<a href="{{ path('comment_delete', { comment_id: comment.id}) }}">Effacer</a>
{% endfor %}
{% if app.user %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-secondary" type='submit' value='Add comment'>
    {{ form_end(form) }}
{% else %}
{% endif %}
{% endblock %}